manifest {
  name = 'ABF finemapping pipeline'
  author = 'Anastasiia Alekseienko'
  mainScript = 'main.nf'
  nextflowVersion = '>=20.07.1'
  version = '0.5'
}

// Some default parameters

params {
  outputDir = './results'
  custom_config_version = 'master'
  tracedir = "${params.outputDir}/pipeline_info"

  // Defaults only, expecting to be overwritten
  max_memory = 128.GB
  max_cpus = 16
  max_time = 240.h
}

// Capture exit codes from upstream processes when piping
process.shell = ['/bin/bash', '-euo', 'pipefail']

process.container = 'quay.io/urmovosa/abf_image:v0.1'

timeline {
  enabled = true
  file = "${params.tracedir}/Timeline.html"
}
report {
  enabled = true
  file = "${params.tracedir}/Report.html"
}
trace {
  enabled = true
  file = "${params.tracedir}/Trace.txt"
}
dag {
  enabled = true
  file = "${params.tracedir}/dag.svg"
}

timeline.overwrite = true
report.overwrite = true
dag.overwrite = true
trace.overwrite = true


includeConfig 'conf/base.config'

profiles {

  slurm { includeConfig 'conf/slurm.config'}
  local_vm { includeConfig 'conf/local_vm.config' }
  singularity {
    singularity.enabled = true
    singularity.autoMounts = true
    singularity.cacheDir = "$baseDir/singularity_img/"
  }
  docker {
    docker.enabled = true
    docker.temp = 'auto'
  }
  conda { process.conda = "$baseDir/environment.yml" }
}

